# Ignore the MacOS tracking files
.DS_Store
.classpath
.project
.settings
connect.php
/assets/pgdb/data/
/assets/pgdb/logs/
/assets/pgadmin/data/
/docker/compose-postgres/pgdb/data
/docker/compose-postgres/pgdb/logs
/docker/compose-postgres/pgadmin
/docker/compose-postgres/pgdb/logs
